---
const returnUrl = Astro.url.searchParams.get("r") || "/";

import { SignIn } from "auth-astro/components";
---

<SignIn
    provider="azure-ad"
    options={{
        callbackUrl: returnUrl,
    }}
>
    <button class="btn">Sign in</button></SignIn
>
